/* Site Styles Go Here */


.footer-flex{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-item-flex{
    flex: 0 1 auto; 
}

a:link{
    color:black;
}

a:visited{
    color:black;
}

h2:hover{
    color:goldenrod;
    }
    
img:hover{
    transform: scale(2, 2);
    float: none;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.25,0.74,0.22,0.99);
}